@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.prevent-scroll {
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 40px;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  vertical-align: baseline;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
       -o-transition: color 0.3s ease;
          transition: color 0.3s ease;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
       -o-transition:         transform 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition:         transform 0.3s ease;
          transition:         transform 0.3s ease, -webkit-transform 0.3s ease;
}

.button:hover::before,
.button:active::before {
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.input__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.input__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.textarea__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.textarea__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  position: relative;
  padding-top: 22px;
}

.page-header__top {
  padding: 0 60px;
  background: -webkit-linear-gradient(#ffffff 18px, #f7e296 18px);
  background:      -o-linear-gradient(#ffffff 18px, #f7e296 18px);
  background:         linear-gradient(#ffffff 18px, #f7e296 18px);
}

.page-header__logo {
  display: inline-block;
  vertical-align: baseline;
}

.logo {
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo__img--black {
  fill: #000000;
}

.logo__img--yellow {
  fill: #ffc600;
}

.page-header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 60px 0;
  background-color: #f7e296;
}

.page-header__search-form {
  flex-basis: 440px;
  width: 440px;
  margin-right: auto;

  -ms-flex-preferred-size: 440px;
}

.search-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 3px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/menu-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-form__input {
  position: relative;
  flex-grow: 1;
  flex-basis: 340px;
  width: 340px;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 340px;
}

.input__text--search {
  flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 20px;
  padding-left: 40px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;

  -webkit-appearance: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.input__text--search:hover {
  opacity: 0.6;
}

.input__text--search:focus {
  outline: none;
  opacity: 1;
}

.search-form__submit {
  flex-basis: 86px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 86px;
  max-width: 86px;
  margin: 0;
  padding: 8px 19px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: transparent;
  letter-spacing: 0.01em;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  pointer-events: none;

  -ms-flex-preferred-size: 86px;
}

.search-form__submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease 0.2s;
       -o-transition: all 0.3s ease 0.2s;
          transition: all 0.3s ease 0.2s;
}

.input__text--search:focus + .search-form__submit {
  color: #000000;
  border-color: #000000;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  pointer-events: auto;
}

.input__text--search:focus + .search-form__submit::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.input__text--search:focus + .search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:hover {
  color: #ffffff;
  background: #000000;
  pointer-events: auto;
}

.input__text--search:focus + .search-form__submit:active,
.search-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
  pointer-events: auto;
}

.page-header__user-menu {
  flex-basis: 500px;
  width: 500px;
  margin: 0;
  padding: 0;

  -ms-flex-preferred-size: 500px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  list-style: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.user-menu__auth {
  margin-right: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  position: relative;
  margin-right: 36px;
  padding-left: 26px;
  font: 300 15px "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__link--white {
  color: #ffffff;
}

.menu__link:last-child:not(.menu__link--logout) {
  margin-right: 0;
}

.menu__link--login {
  margin-right: 20px;
}

.menu__link--logout {
  padding-left: 0;
  opacity: 0.3;
}

.menu__link--login::before,
.menu__link--login-yellow::before,
.menu__link--compare::before,
.menu__link--compare-yellow::before,
.menu__link--cart::before,
.menu__link--cart-yellow::before {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu__link--login::before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user.svg");
}

.menu__link--compare::before {
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare.svg");
}

.menu__link--cart::before {
  top: 4px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart.svg");
}

.menu__link--login-yellow::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user-yellow.svg");
}

.menu__link--compare-yellow::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare-yellow.svg");
}

.menu__link--cart-yellow::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart-yellow.svg");
}

.page-header__bottom {
  padding: 27px 60px 47px;
  background-color: #f7e296;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  margin-right: 34px;
}

.site-nav__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.site-nav__link {
  position: relative;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link:active {
  opacity: 0.3;
}


.site-nav__link--plus {
  z-index: 3;
  padding-right: 30px;
}

.site-nav__link--plus::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 20;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.site-nav__link--white {
  color: #ffffff;
}

.submenu {
  position: relative;
  z-index: 2;
  margin-right: 291px;
}

.submenu__inner {
  position: absolute;
  top: 21px;
  left: -60px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  padding: 25px 60px 35px;
  background-color: #f7e296;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  pointer-events: none;
}

.submenu:hover .submenu__inner {
  opacity: 1;
  pointer-events: auto;
}

.submenu:hover .submenu__group {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.submenu__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 60px;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.1s;
       -o-transition: all 0.3s ease 0.1s;
          transition: all 0.3s ease 0.1s;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.submenu__group:nth-child(2) {
  margin-right: 73px;
}

.submenu__group:last-child {
  margin-right: 0;
}

.submenu__link {
  font: 300 15px/2.4 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.submenu__link:hover {
  opacity: 0.6;
}

.submenu__link:active {
  opacity: 0.3;
}


.popular-slider {
  position: relative;
}

.popular-slider__slides {
  margin: 0;
  padding: 0 60px;
  list-style: none;
  background: -webkit-linear-gradient(#f7e296 113px, transparent 113px);
  background:      -o-linear-gradient(#f7e296 113px, transparent 113px);
  background:         linear-gradient(#f7e296 113px, transparent 113px);
}

.popular-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-slide:not(:first-child) {
  display: none;
}

.popular-slide::before {
  content: "";
  position: absolute;
  top: -24px;
  right: -14px;
  display: block;
  font: 800 180px "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.popular-slide:nth-child(1)::before {
  content: "01";
}

.popular-slide:nth-child(2)::before {
  content: "02";
}

.popular-slide:nth-child(3)::before {
  content: "03";
}

.popular-slide__photo {
  margin-right: auto;
  padding-left: 30px;
}

.popular-slide__info {
  position: relative;
  width: 501px;
  margin-top: 38px;
  padding-top: 43px;
}

.popular-slide__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.popular-slide__lead {
  margin: 0 0 18px;
  font: 800 47px/1.21 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.popular-slide__description {
  width: 490px;
  margin: 0 0 43px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.popular-slide__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 48px;
  vertical-align: baseline;
}

.properties-table__value {
  padding-right: 75px;
  padding-bottom: 5px;
  font: 300 36px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.properties-table__label {
  padding-right: 75px;
  font: 300 13px/1.54 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.popular-slider__controls {
  position: absolute;
  right: 103px;
  bottom: 146px;
}

.slider-controls__switcher {
  width: 12px;
  height: 12px;
  margin-right: 17px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.slider-controls__switcher:last-child {
  margin-right: 0;
}

.slider-controls__switcher--active {
  background-image: url("../img/slider-button.svg");
}

.categories {
  padding-top: 98px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  -ms-flex-wrap: wrap;
}

.categories-list__item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.categories-list__item:nth-child(6n) {
  margin-right: 0;
}

.category {
  flex-basis: 160px;
  width: 160px;

  -ms-flex-preferred-size: 160px;
}

.category__icon {
  position: relative;
  display: block;
  padding-top: 195px;
}

.category__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  -webkit-transition: background-color 0.3s ease;
       -o-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}

.category__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.category__icon:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::after {
  opacity: 0.5;
}

.category__icon--vr::after {
  background-image: url("../img/popular-1.svg");
}

.category__icon--monopods::after {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.category__icon--cameras::after {
  background-image: url("../img/popular-3.svg");
}

.category__icon--bracers::after {
  background-image: url("../img/popular-4.svg");
}

.category__icon--watches::after {
  background-image: url("../img/popular-5.svg");
}

.category__icon--drones::after {
  background-image: url("../img/popular-6.svg");
}

.category__title {
  margin: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.services-slider {
  min-height: 350px;
  padding-top: 41px;
  padding-bottom: 38px;
  background: -webkit-linear-gradient(transparent 141px, #e5e5e5 141px);
  background:      -o-linear-gradient(transparent 141px, #e5e5e5 141px);
  background:         linear-gradient(transparent 141px, #e5e5e5 141px);
}

.services-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-slider__controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 284px;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 284px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 71px;
  list-style: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-preferred-size: 284px;
}

.services-slider__controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 7px;
  height: 100%;
  background-color: #000000;
}

.slider-controls__wrapper {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 24px;
}

.slider-controls__wrapper:last-child {
  margin-bottom: 0;
}

.slider-controls__button {
  z-index: 1;
  width: 160px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
       -o-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.slider-controls__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: -1;
  display: block;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition: all 0.3s ease;
       -o-transition:         transform 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition:         transform 0.3s ease;
          transition:         transform 0.3s ease, -webkit-transform 0.3s ease;
          transition: all 0.3s ease;
}

.slider-controls__button--active::before,
.slider-controls__button:active::before,
.slider-controls__button:hover::before {
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.slider-controls__button--active::before,
.slider-controls__button:active::before {
  width: 100%;
  background-color: #000000;
}

.slider-controls__button--active,
.slider-controls__button:active {
  color: #f7e184;
}

.slider-controls__button:last-child {
  margin-bottom: 0;
}

.services-slider__slides {
  flex-basis: 759px;
  width: 759px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style: none;

  -ms-flex-preferred-size: 759px;
}

.services-slider__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-right: 300px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.services-slider__slide:not(:first-child) {
  display: none;
}

.services-slider__slide::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 65px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.services-slider__slide--delivery::after {
  width: 136px;
  height: 164px;
  background-image: url("../img/service-slider-1.svg");
}

.services-slider__slide--guarantee::after {
  width: 171px;
  height: 194px;
  background-image: url("../img/service-slider-2.svg");
}

.services-slider__slide--credit::after {
  width: 156px;
  height: 186px;
  background-image: url("../img/service-slider-3.svg");
}

.services-slider__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.services-slider__description {
  margin: 0;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.brands {
  padding-top: 95px;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.brands__item {
  position: relative;
  margin-right: 40px;
  line-height: 0;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.brands__item--dji::after {
  background-image: url("../img/brands-1.jpg");
}

.brands__item--sp::after {
  background-image: url("../img/brands-2.jpg");
}

.brands__item--gopro::after {
  background-image: url("../img/brands-3.jpg");
}

.brands__item--vive::after {
  background-image: url("../img/brands-4.jpg");
}

.brands__item:hover::after {
  opacity: 1;
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-top: 141px;
  padding-bottom: 81px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.about {
  position: relative;
  flex-basis: 485px;
  width: 485px;

  -ms-flex-preferred-size: 485px;
}

.about::before {
  content: "";
  position: absolute;
  top: -49px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__title {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.about__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.about__partners-list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 36px;
  list-style: none;
}

.partners-list__item {
  position: relative;
  padding-left: 35px;
  font: 800 16px/2.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.partners-list__item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-image: url("../img/list-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button--about {
  padding: 0 20px;
}

.contacts {
  position: relative;
  flex-basis: 560px;
  width: 560px;

  -ms-flex-preferred-size: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -49px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts__title {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.contacts__description {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.contacts__map-container {
  margin-bottom: 69px;
}

.map-container {
  display: block;
  width: 560px;
  height: 222px;
  font-size: 0;
  cursor: pointer;
}

.page-footer {
  padding-top: 55px;
  padding-bottom: 50px;
  background-color: #464646;
}

.page-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.page-footer__logo {
  margin-top: 10px;
}

.page-footer__user-menu {
  min-width: 324px;
  padding-top: 15px;
}

.page-footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-footer__address {
  margin-right: 160px;
  color: #ffffff;
}

.page-footer__nav {
  padding-top: 4px;
}

.page-footer__tel {
  margin-left: auto;
}

.tel,
.tel__link {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.tel {
  text-align: right;
}

.page-footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  padding-bottom: 5px;
}

.page-footer__bottom::before {
  content: "";
  position: absolute;
  bottom: 29px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #bc9719;
}

.page-footer__social-links {
  margin-right: auto;
  margin-left: 509px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links__item {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-links__item:hover {
  opacity: 0.6;
}

.social-links__item:active {
  opacity: 0.1;
}

.social-links__item--fb {
  background-image: url("../img/social-fb.svg");
}

.social-links__item--ig {
  margin-right: 21px;
  background-image: url("../img/social-instagram.svg");
}

.social-links__item--tw {
  background-image: url("../img/social-twitter.svg");
}



.made-by {
  display: block;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.made-by:hover {
  opacity: 0.6;
}

.made-by:active {
  opacity: 0.3;
}

.catalog-page__top {
  padding: 33px 60px 0;
}

.page-title {
  margin: 0;
  margin-bottom: 16px;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 35px;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 17px;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs__item:nth-child(2)::after {
  top: 14px;
  right: 12px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font: 300 14px/1.71 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.catalog-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 44px;
}

.filters {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 4px;
  padding-bottom: 75px;
  background-color: #eeeeee;

  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -ms-flex-positive: 1;
}

.filters__header {
  background-color: #dbdbdb;
}

.filters__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 348px;
  min-height: 70px;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 80px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.filters__title {
  margin: 0;
  padding: 23px 0;
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters__form {
  margin-left: auto;
}

.filters-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 348px;
  padding-top: 69px;
  padding-right: 70px;
  padding-left: 80px;
}

.filters-form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 13px;
  border: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filters-form__group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.filters-form__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter-price {
  min-height: 97px;
}

.range {
  padding-top: 17px;
}

.range__bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left, #91c92f 110px, #dbdbdb 110px);
  background:      -o-linear-gradient(left, #91c92f 110px, #dbdbdb 110px);
  background:         linear-gradient(to right, #91c92f 110px, #dbdbdb 110px);
}

.range__from,
.range__to {
  position: absolute;
  bottom: calc(50% - 12px);
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
       -o-transition:         transform 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition:         transform 0.3s ease;
          transition:         transform 0.3s ease, -webkit-transform 0.3s ease;
}

.range__from:active,
.range__to:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range__from {
  left: -5px;
}

.range__to {
  right: 70px;
}

.range__inputs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-input {
  position: absolute;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 300 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
  opacity: 0.2;
}

.range-input--from {
  left: 0;
}

.range-input--to {
  right: -57px;
}

.range-input__text {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}


.filter-color {
  padding-bottom: 1px;
}

.checkbox {
  cursor: pointer;
}

.checkbox__label {
  position: relative;
  padding-left: 40px;
  font: 300 14px/2.86 "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.checkbox:hover .checkbox__label::before {
  opacity: 0.6;
}

.checkbox__control:focus + .checkbox__label {
  outline: 2px solid #82b9f7;
  outline-offset: 5px;
}

.checkbox__control:checked + .checkbox__label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.checkbox__control:disabled + .checkbox__label {
  opacity: 0.25;
}

.radio {
  cursor: pointer;
}

.radio__label {
  position: relative;
  padding-left: 40px;
  font: 300 14px/2.86 "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.radio__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.radio__control:focus + .radio__label {
  outline: 2px solid #82b9f7;
  outline-offset: 5px;
}

.radio:hover .radio__label::before {
  opacity: 0.6;
}

.radio__control:checked + .radio__label::before {
  background-image: url("../img/radio-on.svg");
}

.radio__control:disabled + .radio__label {
  opacity: 0.25;
}


.catalog {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 77px;
  background-color: #ffffff;

  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -ms-flex-positive: 1;
}

.catalog__header {
  background-color: #ebebeb;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 853px;
  min-height: 70px;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 73px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.catalog__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 853px;
  height: 70px;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 73px;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.catalog__sort::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #ebebeb;
}

.sort__title {
  margin-right: 55px;
  padding: 23px 0;
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  padding: 26px 0;

  -ms-flex-wrap: wrap;
}

.sort-options__link {
  margin-right: 28px;
  font: 400 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #000000;
  opacity: 0.3;
}

.sort-options__link:hover {
  opacity: 0.6;
}

.sort-options__link:active {
  opacity: 1;
}

.sort-options__link--active {
  opacity: 1;
}

.sort-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 30px 0;
}

.sort-order__link {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

.sort-order__link:last-child {
  margin-right: 3px;
}

.sort-order__link--active {
  opacity: 1;
}

.sort-order__link:hover {
  opacity: 0.4;
}

.sort-order__link:active {
  opacity: 1;
}

.sort-order__link--increasing {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-order__link--decreasing {
  background-image: url("../img/icon-down-dir.svg");
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 853px;
  margin-right: auto;
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 72px;

  -ms-flex-wrap: wrap;
}

.products__item {
  margin-right: 40px;
  padding: 24px 0 22px;
}

.products__item:nth-of-type(2n) {
  margin-right: 0;
}

.product {
  position: relative;
  flex-basis: 360px;
  width: 360px;

  -ms-flex-preferred-size: 360px;
}

.product--new::after {
  content: "New";
  position: absolute;
  top: 53px;
  right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font: 800 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  pointer-events: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.product__photo {
  position: relative;
  margin-bottom: 27px;
  font-size: 0;
}

.product__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 171px;
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
  pointer-events: none;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.product__photo:hover .product__hover {
  opacity: 1;
  pointer-events: auto;
}

.product__compare-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 6px;
  font: 300 13px/2.77 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.product__compare-btn:hover {
  opacity: 1;
}

.product__compare-btn:active {
  opacity: 0.2;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-top: 7px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.product__title {
  display: block;
  flex-basis: 260px;
  width: 260px;
  margin: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  -ms-flex-preferred-size: 260px;
}

.product__link {
  color: inherit;
}

.product__price {
  font: 300 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.pages {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 853px;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 72px;
  background-color: #ffffff;
}

.pages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  height: 70px;
  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.pages-switcher {
  height: 69px;
  padding: 0 30px;
  font: 800 16px/70px "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.pages-switcher:hover {
  background-color: #d9d9d9;
}

.pages-switcher:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: auto;
  margin-left: 209px;
  padding: 0;
  padding-top: 2px;
  list-style: none;
}

.pages__item {
  margin-right: 28px;
}

.pages__item:last-child {
  margin-right: 0;
}

.pages__link {
  font: 800 16px/1.5 "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.pages__link:hover {
  opacity: 0.6;
}

.pages__link:active {
  opacity: 1;
}

.pages__link--active {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
  pointer-events: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.popup--active {
  opacity: 1;
  pointer-events: auto;
}

.popup--active .popup__inner {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.popup--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.popup__inner {
  position: relative;
  flex-basis: 960px;
  width: 960px;
  background-color: #ffffff;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: -webkit-transform 0.3s ease;
       -o-transition:         transform 0.3s ease;
          transition: -webkit-transform 0.3s ease;
          transition:         transform 0.3s ease;
          transition:         transform 0.3s ease, -webkit-transform 0.3s ease;

  -ms-flex-preferred-size: 960px;
}

.popup__close {
  position: absolute;
  top: 17px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
       -o-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:active {
  opacity: 0.3;
}

.map_big_jpg {
  position: absolute;
  top: 1843px;
  left: 221px;
  z-index: 173;
  width: 999px;
  height: 598px;
  background-image: url("device-index-assets/map-big.jpg");
}


.popup__map-container {
  line-height: 0;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.popup__map {
  width: 960px;
  height: 559px;
  background-image: url("../img/map-big.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.popup-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 85px 100px 80px;
}

.popup-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.popup-form__input {
  flex-basis: 360px;
  width: 360px;

  -ms-flex-preferred-size: 360px;
}

.popup-form__input:not(:last-child) {
  margin-right: 40px;
}

.input__text--popup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 16px 20px;
  background-color: rgba(229, 229, 229, 0.5);
  -webkit-transition: background-color 0.3s ease;
       -o-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
}

.input__text--popup:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.input__text--popup:focus {
  outline: 3px solid #f0c52e;
}

.input__text--popup:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.input__text--invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.popup-form__middle {
  margin-bottom: 33px;
}

.textarea__text--popup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 156px;
  margin-top: 4px;
  padding: 15px 20px;
  background-color: rgba(229, 229, 229, 0.5);
  resize: none;
}

.textarea__text--popup:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.textarea__text--popup:focus {
  outline: 3px solid #f0c52e;
}

.textarea__text--popup:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.textarea__text--invalid {
  background-color: rgba(237, 181, 181, 0.5);
}


.button--popup {
  padding: 0 34px;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
