@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
}

.prevent-scroll {
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 41px;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
}

.button:hover::before,
.button:active::before {
  transform: scaleY(5);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.input__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.input__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.textarea__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.textarea__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  position: relative;
  min-width: 1200px;
  padding-top: 40px;
}

.page-header__logo {
  position: absolute;
  top: -19px;
  left: 79px;
}

.logo {
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo__img--black {
  fill: #000000;
}

.logo__img--yellow {
  fill: #ffc600;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding: 33px 60px 2px;
  background-color: #f7e296;
}

.page-header__search-form {
  flex-basis: 440px;
  width: 440px;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 3px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/menu-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-form__input {
  position: relative;
  flex-grow: 1;
  flex-basis: 340px;
  width: 340px;
}

.input__text--search {
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 40px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.input__text--search:hover {
  opacity: 0.6;
}

.input__text--search:focus {
  outline: none;
  opacity: 1;
}

.search-form__submit {
  padding: 7.5px 18.5px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: transparent;
  letter-spacing: 0.01em;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  pointer-events: none;
}

.search-form__submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: translate3d(-100%, 0, 0);
  transform-origin: 0 50%;
  transition: all 0.3s ease 0.2s;
}

.input__text--search:focus + .search-form__submit {
  color: #000000;
  border-color: #000000;
  transition: all 0.3s ease 0.2s;
  pointer-events: auto;
}

.input__text--search:focus + .search-form__submit::after {
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.input__text--search:focus + .search-form__submit:active,
.search-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.input__text--search:focus + .search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:hover {
  color: #ffffff;
  background: #000000;
}

.page-header__user-menu {
  flex-basis: 500px;
  width: 500px;
  margin: 0;
  padding: 0;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.user-menu__auth {
  margin-right: auto;
}

.menu__link {
  position: relative;
  margin-right: 33px;
  padding-left: 26px;
  font: 300 15px/50px "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  transition: opacity 0.3s ease;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__link--white {
  color: #ffffff;
}

.menu__link:last-child:not(.menu__link--logout) {
  margin-right: 0;
}

.menu__link--login {
  margin-right: 17px;
}

.menu__link--logout {
  padding-left: 0;
  opacity: 0.3;
}

.menu__link--login::before,
.menu__link--login-yellow::before,
.menu__link--compare::before,
.menu__link--compare-yellow::before,
.menu__link--cart::before,
.menu__link--cart-yellow::before {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu__link--login::before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user.svg");
}

.menu__link--compare::before {
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare.svg");
}

.menu__link--cart::before {
  top: 4px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart.svg");
}

.menu__link--login-yellow::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user-yellow.svg");
}

.menu__link--compare-yellow::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare-yellow.svg");
}

.menu__link--cart-yellow::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart-yellow.svg");
}

.page-header__bottom {
  padding: 25px 60px 45px;
  background-color: #f7e296;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  margin-right: 35px;
}

.site-nav__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.site-nav__link {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: opacity 0.3s ease;
}

.site-nav__link:active {
  opacity: 0.3;
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link--white {
  color: #ffffff;
}

.submenu {
  position: relative;
  margin-right: 290px;
}

.submenu__toggle {
  position: relative;
  padding-right: 30px;
}

.submenu__toggle::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 3px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.submenu__inner {
  position: absolute;
  top: 31px;
  left: -60px;
  z-index: 2;
  display: flex;
  width: 1040px;
  padding: 15px 60px 35px;
  background-color: #f7e296;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.submenu:hover .submenu__inner {
  opacity: 1;
  pointer-events: auto;
}

.submenu:hover .submenu__group {
  transform: translateY(0);
  opacity: 1;
}

.submenu__group {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  transform: translateY(-15px);
  opacity: 0;
  transition: all 0.3s ease 0.1s;
}

.submenu__group:last-child {
  margin-right: 0;
}

.submenu__link {
  font: 300 15px/2.4 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  transition: all 0.3s ease;
}

.submenu__link:active {
  opacity: 0.3;
}

.submenu__link:hover {
  opacity: 0.6;
}

.popular-slider {
  position: relative;
}

.popular-slider__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 1160px;
  height: 114px;
  background-color: #f7e296;
}

.popular-slider__slides {
  margin: 0;
  padding: 5px 60px 0;
  list-style: none;
}

.popular-slide {
  position: relative;
  display: flex;
}

.popular-slide:not(:first-child) {
  display: none;
}

.popular-slide::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -15px;
  display: block;
  font: 800 180px "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.popular-slide:nth-child(1)::before {
  content: "01";
}

.popular-slide:nth-child(2)::before {
  content: "02";
}

.popular-slide:nth-child(3)::before {
  content: "03";
}

.popular-slide__photo {
  margin-right: auto;
  padding-left: 30px;
}

.popular-slide__info {
  position: relative;
  /* flex-basis: 499px; */
  width: 501px;
  padding-top: 79px;
}

.popular-slide__info::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 1px;
  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.popular-slide__lead {
  margin: 0 0 19px;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.popular-slide__description {
  width: 490px;
  margin: 0 0 43px;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.popular-slide__button {
  display: inline-flex;
  margin-bottom: 48px;
  margin-left: 1px;
}

.properties-table__value {
  padding-right: 75px;
  padding-bottom: 5px;
  font: 300 36px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.properties-table__label {
  padding-right: 75px;
  font: 300 13px/1.54 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.popular-slider__controls {
  position: absolute;
  top: 321px;
  right: 103px;
}

.slider-controls__switcher {
  width: 12px;
  height: 12px;
  margin-right: 15px;
  padding: 0;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.slider-controls__switcher:last-child {
  margin-right: 0;
}

.slider-controls__switcher--active {
  background-image: url("../img/slider-button.svg");
}

.categories {
  padding-top: 95px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-list__item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.categories-list__item:nth-child(6n) {
  margin-right: 0;
}

.category {
  flex-basis: 160px;
  width: 160px;
}

.category__icon {
  position: relative;
  display: block;
  padding-top: 195px;
}

.category__icon::before {
  content: "";
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  transition: background-color 0.3s ease;
}

.category__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease;
}

.category__icon:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::after {
  opacity: 0.5;
}

.category__icon--vr::after {
  background-image: url("../img/popular-1.svg");
}

.category__icon--monopods::after {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.category__icon--cameras::after {
  background-image: url("../img/popular-3.svg");
}

.category__icon--bracers::after {
  background-image: url("../img/popular-4.svg");
}

.category__icon--watches::after {
  background-image: url("../img/popular-5.svg");
}

.category__icon--drones::after {
  background-image: url("../img/popular-6.svg");
}

.category__title {
  margin: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.services-slider {
  min-height: 350px;
  padding-top: 41px;
  padding-bottom: 40px;
  background: linear-gradient(transparent 141px, #e5e5e5 141px);
}

.services-slider__container {
  display: flex;
}

.services-slider__controls {
  position: relative;
  display: flex;
  flex-basis: 284px;
  flex-direction: column;
  width: 284px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 80px;
  list-style: none;
}

.services-slider__controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.slider-controls__wrapper {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 24px;
}

.slider-controls__wrapper:last-child {
  margin-bottom: 0;
}

.slider-controls__button {
  z-index: 1;
  width: 160px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.slider-controls__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: -1;
  display: block;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
  transition: all 0.3s ease;
}

.slider-controls__button:active::before,
.slider-controls__button:hover::before {
  transform: scaleY(5);
}

.slider-controls__button:active::before {
  width: 100%;
  background-color: #000000;
}

.slider-controls__button:active {
  color: #f7e184;
}

.slider-controls__button:last-child {
  margin-bottom: 0;
}

.services-slider__slides {
  flex-basis: 759px;
  width: 759px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  list-style: none;
}

.services-slider__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 300px;
}

.services-slider__slide:not(:first-child) {
  display: none;
}

.services-slider__slide::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 65px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.services-slider__slide--delivery::after {
  width: 136px;
  height: 164px;
  background-image: url("../img/service-slider-1.svg");
}

.services-slider__slide--guarantee::after {
  width: 171px;
  height: 194px;
  background-image: url("../img/service-slider-2.svg");
}

.services-slider__slide--credit::after {
  width: 156px;
  height: 186px;
  background-image: url("../img/service-slider-3.svg");
}

.services-slider__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.services-slider__description {
  /* width: 456px; */
  margin: 0;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.brands {
  padding-top: 95px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
}

.brands__item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  line-height: 0;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brands__item--dji::after {
  background-image: url("../img/brands-1.jpg");
}

.brands__item--sp::after {
  background-image: url("../img/brands-2.jpg");
}

.brands__item--gopro::after {
  background-image: url("../img/brands-3.jpg");
}

.brands__item--vive::after {
  background-image: url("../img/brands-4.jpg");
}

.brands__item:hover::after {
  opacity: 1;
}

.company-info {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 82px;
}

.about {
  position: relative;
  flex-basis: 485px;
  width: 485px;
}

.about::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.about__description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.about__partners-list {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  padding-top: 35px;
  list-style: none;
}

.partners-list__item {
  position: relative;
  padding-left: 35px;
  font: 800 16px/2.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.partners-list__item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-image: url("../img/list-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button--about {
  padding: 0 20px;
}

.contacts {
  position: relative;
  flex-basis: 560px;
  width: 560px;
  /*padding-top: 140px;*/
}

.contacts::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.contacts__description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.contacts__map-container {
  margin-bottom: 66px;
}

.map-container {
  width: 560px;
  height: 222px;
  cursor: pointer;
}

.page-footer {
  min-width: 1200px;
  padding-top: 53px;
  padding-bottom: 50px;
  background-color: #464646;
}

.page-footer__container {
  /* display: flex; */
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-footer__logo {
  margin-top: 12px;
}

.page-footer__user-menu {
  min-width: 324px;
}

.page-footer__middle {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}

.page-footer__address {
  margin-right: 160px;
  color: #ffffff;
}

.page-footer__nav {
  padding-top: 3px;
}

.page-footer__tel {
  margin-left: auto;
}

.tel,
.tel__link {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.tel {
  text-align: right;
}

.page-footer__bottom {
  position: relative;
  display: flex;
  padding-top: 29px;
  padding-bottom: 7px;
}

.page-footer__bottom::before {
  content: "";
  position: absolute;
  bottom: 28px;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #bc9719;
}

.page-footer__social-links {
  margin-right: auto;
  margin-left: 505px;
}

.social-links {
  display: flex;
}

.social-links__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-links__item:hover {
  opacity: 0.6;
}

.social-links__item:active {
  opacity: 0.1;
}

.social-links__item--fb {
  background-image: url("../img/social-fb.svg");
}

.social-links__item--ig {
  background-image: url("../img/social-instagram.svg");
}

.social-links__item--tw {
  background-image: url("../img/social-twitter.svg");
}

.page-footer__made-by {
  /*margin-left: auto;*/
}

.made-by {
  display: block;
  transition: opacity 0.3s ease;
}

.made-by:hover {
  opacity: 0.6;
}

.made-by:active {
  opacity: 0.3;
}

.catalog-page__top {
  padding: 35px 60px 0;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 35px;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 17px;
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font: 300 14px/1.71 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.catalog-container {
  display: flex;
  padding-top: 45px;
}

.filters {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  flex-basis: 470px;
  width: 470px;
  margin-bottom: 4px;
  padding-bottom: 75px;
  background-color: #eeeeee;
}

.filters__top {
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 80px;
  padding-right: 70px;
  padding-left: calc(100% - 270px);
}

.filters__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #dcdcdc;
}

.filters__title {
  margin: 0;
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters__bottom {
  padding-right: 70px;
  padding-left: calc(100% - 270px);
}

.filters-form__group {
  /* min-width: initial; */
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  border: none;
}

.filters-form__title {
  padding: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.range {
  display: flex;
}

.range-control__label {
  font: 300 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
  opacity: 0.2;
}

.range-control__text {
  font: 300 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
  background: none;
  border: none;
  opacity: 0.2;
}

.filter-color {
  display: flex;
  flex-direction: column;
}

.checkbox__control:hover {
  opacity: 0.6;
}

.checkbox__control:disabled {
  opacity: 0.25;
}

.checkbox__control:disabled + .checkbox__label {
  color: #a6a6a6;
}

.checkbox__label {
  font: 300 14px/2.86 "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.radio__control:hover {
  opacity: 0.6;
}

.radio__control:disabled {
  opacity: 0.25;
}

.radio__label {
  font: 300 14px/2.86 "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.catalog {
  flex-grow: 1;
  flex-basis: 970px;
  width: 970px;
  padding-bottom: 75px;
  background-color: #ffffff;
}

.catalog__sort {
  display: flex;
  align-items: center;
  height: 70px;
  padding-right: calc(100% - 830px);
  padding-left: 70px;
  background-color: #ebebeb;
}

.sort__title {
  margin-right: 55px;
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort__options {
  display: flex;
}

.sort-options__link {
  margin-right: 25px;
  font: 400 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #000000;
  opacity: 0.3;
}

.sort-options__link:hover {
  opacity: 0.6;
}

.sort-options__link:active {
  opacity: 1;
}

.sort-options__link--active {
  opacity: 1;
}

.sort-order {
  display: flex;
  margin-left: auto;
}

.sort-order__link {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

.sort-order__link:last-child {
  margin-right: 0;
}

.sort-order__link--active {
  opacity: 1;
}

.sort-order__link:hover {
  opacity: 0.4;
}

.sort-order__link:active {
  opacity: 1;
}

.sort-order__link--increasing {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-order__link--decreasing {
  background-image: url("../img/icon-down-dir.svg");
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-right: calc(100% - 830px);
  padding-left: 70px;
}

.products__item {
  margin-right: 40px;
  margin-bottom: 45px;
}

.products__item:nth-child(2n) {
  margin-right: 0;
}

.products__item--new::after {
  content: "New";
  position: absolute;
  top: 28px;
  right: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font: 800 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  pointer-events: none;
}

.product {
  position: relative;
  flex-basis: 360px;
  width: 360px;
}

.product__photo {
  position: relative;
  margin-bottom: 25px;
  font-size: 0;
}

.product__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 171px;
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.product__photo:hover .product__hover {
  opacity: 1;
  pointer-events: auto;
}

.product__compare-btn {
  box-sizing: border-box;
  padding-top: 6px;
  font: 300 13px/2.77 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.product__compare-btn:hover {
  opacity: 1;
}

.product__compare-btn:active {
  opacity: 0.2;
}

.product__info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.product__title {
  display: block;
  flex-basis: 260px;
  width: 260px;
  margin: 0;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.product__link {
  color: inherit;
}

.product__price {
  font: 300 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.pages {
  margin-top: -10px;
  padding: 0 70px;
  background-color: #ffffff;
}

.pages__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 760px;
  height: 70px;
  background-color: #ebebeb;
}

.pages-switcher {
  height: 70px;
  padding: 0 30px;
  font: 800 16px/70px "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
}

.pages-switcher:hover {
  background-color: #d9d9d9;
}

.pages-switcher:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pages__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages__item {
  margin-right: 25px;
}

.pages__item:last-child {
  margin-right: 0;
}

.pages__link {
  font: 800 16px/1.5 "Gilroy", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.pages__link:hover {
  opacity: 0.6;
}

.pages__link:active {
  opacity: 1;
}

.pages__link--active {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.popup--active {
  opacity: 1;
  pointer-events: auto;
}

.popup__inner {
  position: relative;
  flex-basis: 960px;
  width: 960px;
  margin: auto;
  background-color: #ffffff;
}

.popup__close {
  position: absolute;
  top: 17px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.popup__close:active {
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.map_big_jpg {
  position: absolute;
  top: 1843px;
  left: 221px;
  z-index: 173;
  width: 999px;
  height: 598px;
  background-image: url("device-index-assets/map-big.jpg");
}


.popup__map-container {
  line-height: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.popup__map {
  width: 960px;
  height: 559px;
}

.popup-form {
  box-sizing: border-box;
  padding: 85px 100px 80px;
}

.popup-form__top {
  display: flex;
  margin-bottom: 32px;
}

.popup-form__input {
  flex-basis: 360px;
  width: 360px;
}

.popup-form__input:not(:last-child) {
  margin-right: 40px;
}

.input__text--popup {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 16px 20px;
  background-color: #f2f2f2;
}

.popup-form__middle {
  margin-bottom: 33px;
}

.textarea__text--popup {
  box-sizing: border-box;
  width: 100%;
  min-height: 156px;
  padding: 16px 20px;
  background-color: #f2f2f2;
  resize: none;
}

.button--popup {
  padding: 0 34px;
}
