@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

body {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-header {
  background-color: #f7e296;
}

.logo {
  transition: opacity 0.3s ease;
}

.logo:active {
  opacity: 0.3;
}

.logo:hover {
  opacity: 0.6;
}

.logo__img--black {
  fill: #000000;
}

.logo__img--yellow {
  fill: #ffc600;
}

.input__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.input__text--search {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.3;
  transition: 0.3s opacity ease;
}

.input__text--search:focus {
  outline: none;
  opacity: 1;
}

.input__text--search:hover {
  opacity: 0.6;
}

.input__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.textarea__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.textarea__text {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
  background: none;
  border: none;
}

.button {
  position: relative;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  transition: 0.3s opacity ease;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.button:active {
  opacity: 0.3;
}

.search-form__input::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/menu-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-submit {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  background: none;
  border: none;
  transition: 0.3s all ease;
}

.search-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.search-submit:hover {
  color: #ffffff;
  background: #000000;
}

.menu__link {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.menu__link:active {
  opacity: 0.3;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link--white {
  color: #ffffff;
}

.menu__link--login::before,
.menu__link--login-yellow::before,
.menu__link--compare::before,
.menu__link--compare-yellow::before,
.menu__link--cart::before,
.menu__link--cart-yellow::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu__link--login::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user.svg");
}

.menu__link--compare::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare.svg");
}

.menu__link--cart::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart.svg");
}

.menu__link--login-yellow::before {
  width: 13px;
  height: 12px;
  background-image: url("../img/menu-user-yellow.svg");
}

.menu__link--compare-yellow::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/menu-compare-yellow.svg");
}

.menu__link--cart-yellow::before {
  width: 12px;
  height: 12px;
  background-image: url("../img/menu-cart-yellow.svg");
}

.site-nav__link {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 0.3s opacity ease;
}

.site-nav__link:active {
  opacity: 0.3;
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link--white {
  color: #ffffff;
}

.submenu__link {
  font: 300 15px/2.4 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.submenu__link:active {
  opacity: 0.3;
}

.submenu__link:hover {
  opacity: 0.6;
}

.popular-slide {
  position: relative;
}

.popular-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font: 800 180px "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.popular-slide:nth-child(1)::before {
  content: "01";
}

.popular-slide:nth-child(2)::before {
  content: "02";
}

.popular-slide:nth-child(3)::before {
  content: "03";
}

.popular-slide__lead {
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.popular-slide__description {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.properties-table__value {
  font: 300 36px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.properties-table__label {
  font: 300 13px/1.54 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.slider-controls__switcher {
  width: 12px;
  height: 12px;
  padding: 0;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.slider-controls__switcher--active {
  background-image: url("../img/slider-button.svg");
}


.category__title {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.category__icon {
  position: relative;
  display: block;
  padding-top: 160px;
}

.category__icon::before {
  content: "";
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: block;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  transition: 0.3s background-color ease;
}

.category__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s opacity ease;
}

.category__icon:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.category__icon:active::after {
  opacity: 0.5;
}

.category__icon--vr::after {
  background-image: url("../img/popular-1.svg");
}

.category__icon--monopods::after {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.category__icon--cameras::after {
  background-image: url("../img/popular-3.svg");
}

.category__icon--bracers::after {
  background-image: url("../img/popular-4.svg");
}

.category__icon--watches::after {
  background-image: url("../img/popular-5.svg");
}

.category__icon--drones::after {
  background-image: url("../img/popular-6.svg");
}

.slider-controls__button {
  position: relative;
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
}

.slider-controls__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  z-index: -1;
  display: block;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.slider-controls__button--active {
  color: #f7e184;
  background: #000000;
}

.slider-controls__button--active::before {
  background: none;
}

.services-slider {
  background-color: #e5e5e5;
}

.services-slider__slide::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.services-slider__slide--delivery::after {
  width: 136px;
  height: 164px;
  background-image: url("../img/service-slider-1.svg");
}

.services-slider__slide--guarantee::after {
  width: 171px;
  height: 194px;
  background-image: url("../img/service-slider-2.svg");
}

.services-slider__slide--credit::after {
  width: 156px;
  height: 186px;
  background-image: url("../img/service-slider-3.svg");
}

.services-slider__title {
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.services-slider__description {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.brands__item {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.brands__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brands__item--dji::after {
  background-image: url("../img/brands-1.jpg");
}

.brands__item--sp::after {
  background-image: url("../img/brands-2.jpg");
}

.brands__item--gopro::after {
  background-image: url("../img/brands-3.jpg");
}

.brands__item--vive::after {
  background-image: url("../img/brands-4.jpg");
}

.brands__item:hover::after {
  opacity: 1;
}

.about__title {
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.about__descrtiption {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.partners-list__item {
  font: 800 16px/2.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.partners-list__item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url("../img/list-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__title {
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.contacts__description {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.page-footer {
  background-color: #464646;
}

.page-footer__address {
  color: #ffffff;
}

.tel,
.tel__link {
  font: 300 15px/2 "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.01em;
}

.social-links__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-links__item--fb {
  background-image: url("../img/social-fb.svg");
}

.social-links__item--ig {
  background-image: url("../img/social-instagram.svg");
}

.social-links__item--tw {
  background-image: url("../img/social-twitter.svg");
}

.popup__close {
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  opacity: 0.5;
  transition: 0.3s opacity ease;
}

.popup__close:active {
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.page-title {
  font: 800 47px/1.19 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.breadcrumbs__link {
  font: 300 14px/1.71 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.filters__title {
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters__group-title {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.sort__title {
  font: 800 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sort-options__link {
  font: 400 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.product__link {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.product__price {
  font: 300 16px/1.5 "Gilroy", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
}

.compare-btn {
  font: 300 13px/2.77 "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  background: none;
  border: none;
}

.form-field__label {
  font: 800 18px/1.33 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.form-field__label--price-from,
.form-field__label--price-to,
.form-field__input--price--from,
.form-field__input--price--to {
  font: 300 14px/1.71 "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.form-field__label--checkbox,
.form-field__label--radio {
  font: 300 14px/2.86 "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.01em;
}

.form-field__input--popup,
.form-field__textarea--popup {
  font: 300 14px/1.29 "Open Sans", "Arial", sans-serif;
  color: #464646;
}
